<!DOCTYPE HTML>
<HTML>
<BODY>
  <div id="toppart"> 
    <div id="shopname">Music Shop</div>
    
    <div id="cartnumber" class=topright>#{cartnum}</div>
    <a href="/cart" id="cart" class="topright">Cart:</a>
    <a href="" id="register" class="topright"></a>
    <a href="" id="loginout" class="topright"></a><br>

    <div id="search">
      <input id="searchbar" placeholder="Keyword(s)">
      <button id="searchbutton">search</button>
    </div>

  </div>
  <div id="bottompart">
 
    <div id="musiccontent">
      <a href="/mainpage/category/all" id= "homestatus"> Home </a>

      <div id="hiddenarrow">  >   </div>

      <a id="cartlink" href="/cart">Cart</a>
  
      <div id="username">#{username}</div>

      <div id="mainframe" class="container"></div>

      <div id="transactblock">
        <div id="price"></div>
        <a href="/mainpage/category/all" id="backbutton">BACK</a>
        <a href="/checkout" id="checkoutbutton">CHECKOUT</a>
      </div>
     
  </div>
  <link rel="stylesheet" href="/css/cart.css">
  <script src="/js/cart.js"></script>
  <title> MUSIC STORE</title>
</BODY>
</HTML>
