<!DOCTYPE HTML>
<HTML>
<BODY>
  <div id="toppart">
    <h1> Invoice Page </h1>
    <div id="address"></div>
    <div id="order"></div>
    <div id="price"></div>
  </div>
  
  <div id="bottompart">
    <div id="thankyou"> Thanks for ordering. Your music will be delivered within 7 working days. </div>
    <a id="okbutton" href="/mainpage/category/all"> OK </a> 
  </div>
  
     
  

  <link rel="stylesheet" href="/css/invoice.css">
  <script src="/js/invoice.js"></script>
  <title> MUSIC STORE INVOICE</title>
</BODY>
</HTML>
