<!DOCTYPE HTML>
<HTML>
<HEAD>
</HEAD>


<BODY> 
  <div id="shopname">Music Shop</div>

  <div id="cartnumber" class=topright>#{cartnum}</div>
  <a href="/cart" id="cart" class="topright">Cart:</a>
  <a href="/register" id="register" class="topright">Register</a>
  <a href="/login" id="login" class="topright">Sign In</a><br>

  <div id="search">
    <input id="searchbar" placeholder="Keyword(s)">
    <button id="searchbutton">Search</button>
  </div>

  <form action = "/register/path" method = "post">
    <p id = "error">
      if msg != null
        span= msg
      else
        span= ""
    </p>
    <fieldset name="registerinfo">
      <legend>Register</legend>
      <label for = "username">Username:</label> 
      <input type = "text" name = "username" id = "username" placeholder = "Desired Username"><br /> 
      <label for = "password">Password:</label>
      <input type = "password" name = "password" id = "password" placeholder = "Desired Password"><br /> 
      <button type = "submit" name = "create" id="okbutton">CONFIRM</button>
    </fieldset>
  </form>

  a(href = "/login", class = "log_link") BACK
  a(href = "/mainpage/category/all", class = "log_link") SHOP

<link rel="stylesheet" href="/css/login.css">
<script src="/js/login.js"></script>
  
</BODY>
</HTML>