<!DOCTYPE HTML>
<HTML>
<HEAD>
  style.
    #hidden {
      display: none;
    }   
</HEAD>


<BODY> 
  <h2 id="msg">#{msg}</h2>
  <div id="hidden">#{success}</div>
  <script src="/js/registermsg.js"></script>
</BODY>
</HTML>